services:
  backend:
    build: ./backend
    container_name: JA_backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      - kafka
      - redis
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379

  frontend:
    build: ./JA_frontend/
    container_name: JA_frontend
    ports:
      - "3000:3000"  
    env_file:
      - ./JA_frontend/.env
    depends_on:
      - backend

  kafka:
    image: apache/kafka:latest
    container_name: JA_kafka
    ports:
      - "9092:9092"
    environment:
    # Required for KRaft single-node
    - KAFKA_NODE_ID=1
    - KAFKA_PROCESS_ROLES=broker,controller
    - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
    - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
    - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
    - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
    # Single-node dev cluster
    - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    volumes:
      - kafka_data:/bitnami/kafka

  redis:
    image: redis:7
    container_name: JA_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  kafka_data:
  redis_data:
