# spring:
#   application:
#     name: springauth
#   datasource:
#     url: jdbc:h2:mem:mydb
#     username: sa
#     password: password
#     driverClassName: org.h2.Driver
#   jpa:
#     database-platform: org.hibernate.dialect.H2Dialect

#   h2:
#     console:
#       enabled: true

app:
  frontend:
    base-url: ${FRONTEND_BASE_URL}

spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: JA-DB

    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      database: 0
      timeout: 60000
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1

  mail:
    host: smtp.resend.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

#     security: 
#         oauth2:
#             client:
#                 registration:
#                     google:
#                         client-id: ${GOOGLE_CLIENT_ID}
#                         client-secret: ${GOOGLE_CLIENT_SECRET}
#                         scope: email, profile
# firebase:
#     bucket-name: ${FIREBASE_BUCKET_NAME}
#     project-id: ${FIREBASE_PROJECT_ID}
#     credentials-path: ${FIREBASE_CREDENTIALS_PATH}

# jwt:
#     secret: ${JWT_SECRET}
#     expiration: ${JWT_EXPIRATION}
#     refresh-expiration: ${JWT_REFRESH_EXPIRATION}

# server:
#     port: ${SERVER_PORT}